
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

:root{
    --branco: white;
    --cor-de-fundo: #00162e;
    --fundo-senha: #00244D;
    --fundo-texto: #001E40;
    --borda: #0075FF;
    --reboto: 'Jersey 15', sans-serif;
    --Jersey-Mono: 'Jersey Mono', monospace;
}

*{
    font-weight: 400;
}

body{
    color: var(--branco);
    background-color: var(--cor-de-fundo);
    font-family: var(--Jersey);
}

.titulo-principal{
    font-family: var(--Jersey-Mono);
    font-size: 32px;
}

.titulo-secundario{
    font-size: 24px;
}

.conteudo-titulo{
    text-align: center;
    margin-top: 80px;


.conteudo-senha{
    margin-top: 80px;
    background: var(--fundo-senha);
}}